<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrm.mvc.swp391_se2024_gr3_hrm.mapper.AccountMapper">
  <resultMap id="BaseResultMap" type="com.hrm.mvc.swp391_se2024_gr3_hrm.model.Account">
    <id column="account_id" jdbcType="INTEGER" property="accountId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="is_active" jdbcType="BIT" property="isActive" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="citizen_id" jdbcType="INTEGER" property="citizenId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from account
    where account_id = #{accountId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hrm.mvc.swp391_se2024_gr3_hrm.model.Account">
    insert into account (account_id, username, password, 
      is_active, role_id, citizen_id
      )
    values (#{accountId,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{isActive,jdbcType=BIT}, #{roleId,jdbcType=INTEGER}, #{citizenId,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hrm.mvc.swp391_se2024_gr3_hrm.model.Account">
    update account
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      is_active = #{isActive,jdbcType=BIT},
      role_id = #{roleId,jdbcType=INTEGER},
      citizen_id = #{citizenId,jdbcType=INTEGER}
    where account_id = #{accountId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select account_id, username, password, is_active, role_id, citizen_id
    from account
    where account_id = #{accountId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select account_id, username, password, is_active, role_id, citizen_id
    from account
  </select>
  <select id="selectByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT account_id, username, password, is_active, role_id, citizen_id
    FROM account
    WHERE username = #{username,jdbcType=VARCHAR}
  </select>
</mapper>