<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrm.persistence.mapper.PayrollBatchPitBracketMapper">
  <insert id="insert" useGeneratedKeys="true" keyProperty="id"
          parameterType="com.hrm.persistence.entity.PayrollBatchPitBracket">
    insert into payroll_batch_pit_bracket (batch_id, bracket_level, lower_bound, upper_bound, rate)
    values (#{batchId}, #{bracketLevel}, #{lowerBound}, #{upperBound}, #{rate})
  </insert>

  <insert id="insertBatch">
    insert into payroll_batch_pit_bracket (batch_id, bracket_level, lower_bound, upper_bound, rate) values
    <foreach collection="list" item="item" separator=",">
      (#{item.batchId}, #{item.bracketLevel}, #{item.lowerBound}, #{item.upperBound}, #{item.rate})
    </foreach>
  </insert>
</mapper>
