<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrm.mvc.swp391_se2024_gr3_hrm.mapper.ProfileMapper">
  <resultMap id="BaseResultMap" type="com.hrm.mvc.swp391_se2024_gr3_hrm.model.Profile">
    <id column="citizen_id" jdbcType="INTEGER" property="citizenId" />
    <result column="full_name" jdbcType="VARCHAR" property="fullName" />
    <result column="date_of_birth" jdbcType="DATE" property="dateOfBirth" />
    <result column="gender" jdbcType="BIT" property="gender" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="married" jdbcType="BIT" property="married" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from profile
    where citizen_id = #{citizenId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hrm.mvc.swp391_se2024_gr3_hrm.model.Profile">
    insert into profile (citizen_id, full_name, date_of_birth, 
      gender, address, married, email, 
      phone)
    values (#{citizenId,jdbcType=INTEGER}, #{fullName,jdbcType=VARCHAR}, #{dateOfBirth,jdbcType=DATE}, 
      #{gender,jdbcType=BIT}, #{address,jdbcType=VARCHAR}, #{married,jdbcType=BIT}, #{email,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hrm.mvc.swp391_se2024_gr3_hrm.model.Profile">
    update profile
    set full_name = #{fullName,jdbcType=VARCHAR},
      date_of_birth = #{dateOfBirth,jdbcType=DATE},
      gender = #{gender,jdbcType=BIT},
      address = #{address,jdbcType=VARCHAR},
      married = #{married,jdbcType=BIT},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR}
    where citizen_id = #{citizenId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select citizen_id, full_name, date_of_birth, gender, address, married, email, phone
    from profile
    where citizen_id = #{citizenId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select citizen_id, full_name, date_of_birth, gender, address, married, email, phone
    from profile
  </select>
  <select id="selectByEmail" parameterType="java.lang.String" resultMap="BaseResultMap">
    select citizen_id, full_name, date_of_birth, gender, address, married, email, phone
    from profile
    where email = #{email,jdbcType=VARCHAR}
  </select>
  <select id="countByEmailExceptCitizen" resultType="int">
    select count(*)
    from profile
    where email = #{email,jdbcType=VARCHAR}
    <if test="citizenId != null">
      and citizen_id != #{citizenId,jdbcType=INTEGER}
    </if>
  </select>
</mapper>