<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrm.persistence.mapper.UserRoleMapper">
  <resultMap id="BaseResultMap" type="com.hrm.persistence.entity.UserRole">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <id column="role_id" jdbcType="INTEGER" property="roleId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from user_role
    where user_id = #{userId,jdbcType=INTEGER}
      and role_id = #{roleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hrm.persistence.entity.UserRole">
    insert into user_role (user_id, role_id)
    values (#{userId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select user_id, role_id
    from user_role
  </select>
  <select id="selectRoleNamesByUserId" parameterType="java.lang.Integer" resultType="java.lang.String">
    select r.role_name
    from user_role ur
    join role r on r.role_id = ur.role_id
    where ur.user_id = #{userId,jdbcType=INTEGER}
  </select>
</mapper>